---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { Markdown } from '@astropub/md'
import fetchApi from '../../lib/strapi';
import type Post from '../../interfaces/page';

export async function getStaticPaths() {
  const articles = await fetchApi<Post[]>({
    endpoint: 'posts', // the content type to fetch
    wrappedByKey: 'data', // the key to unwrap the response,
    query: {
      populate: 'author'
    }
  });

  return articles.map((post) => {
    return {
      params: { post: post.attributes.title.replaceAll(' ', '-').toLowerCase() },
      props: { post },
    }
  })
}

const { post } = Astro.props
---

<DefaultLayout title={post.attributes.title} description={post.body} url={post.title}>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/blog" label="Blog" />
        <BreadcrumbsItem currentPage={true} label={post.attributes.title} />
      </Breadcrumbs>
    </div>
  </div>
  <section class="my-12">
    <div class="container">
      <h1>{post.attributes.title}</h1><br />
      <p>By {post.attributes.author.data.attributes.username}</p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <Markdown of={post.attributes.content} />
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
